@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1440px;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(214.62, 214.62, 214.62, 0.25);
    margin: 0 auto;
    position: fixed;
}

nav {

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    color: #000000;
    height: 25px;
    font-size: 18px;
    font-weight: 400;
}

.lupa {
    width: 13.25px;
    height: 13.25px;
    margin-right: 10px;
}

.coffee {
    width: 24px;
    height: 24px;
}

.logo {
    margin: 26px 348px 15px 95px;
}

.buybutton {
    width: 213px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 17px;
    border-radius: 4px;
    background: #6246EA;
    border: none;
}

ul li p {
    width: 145px;
    height: 23px;
    opacity: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFE;
}
